/* ブレイクポイント: 1050px, 768px */
body{
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Noto Sans JP", "Sawarabi Gothic", serif, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
	overflow-x: hidden;
}

main{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
@media (max-width: 1050px){
	main{
		margin-top: 50px;
	}
}
header{
    width: 100%;
}
footer{
	width: 100%;
	margin-top: 90px;
}
li{
	list-style: none;
}
ul{
	padding: 0;
	margin: 0;
}

h1{
	margin: 0;
	padding: 0;
}
p{
	font-size: 14px;
	margin: 0;
	padding: 0;
}
a{
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s;
}
a:hover {
	opacity: 0.7;
}
button{
    all: unset; /* デフォルトスタイルをリセット */
    display: inline-block;
    cursor: pointer;
}

.menu_alt{
	width: 100%;
	height: auto;
	position: fixed;
	z-index: -100;
	overflow-y: auto; /* メニュー内はスクロール可能 */
}
.menu_alt.active{
	height: 100%;
}
.menu_bar_alt{
	width: 100%;
	height: auto;
	max-height: 50px;
	padding: 10px 0 10px 10px;
	display: none;
	justify-content: space-between;
    align-items: center;
    background-color: #d5efff;
	border-bottom: 1px solid rgb(167, 167, 167);
	box-sizing: border-box;
	position: relative;
	z-index: 100;
}
#logo_alt{
	height: 40px;
	width: auto;
	
}
.menu_toggle {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	row-gap: 6px;
    cursor: pointer;
    position: relative;
    background-color: #1e1e56;
	box-sizing: border-box;
	padding-top: 5px;
}
.line {
    width:20px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 2px;
}
.menu_toggle.active .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.menu_toggle.active .line:nth-child(2) {
    opacity: 0;
}
.menu_toggle.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}
.menu_toggle_text{
	font-size: 12px;
	color: white;
	display: none;
}
.menu_toggle_text.active{
	display: block;
}
.menu_alt_nav{
	display: none;
	width: 100%;
	height: auto;
	background-color: white;
	position: relative;
	z-index: 20;
}
.menu_alt_nav.active{
	display: flex;
}
.menu_alt_nav ul{
	width: 100%;
	height: auto;
}
.menu_alt_nav_item{
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: space-between;
	display: flex;
	box-sizing: border-box;
	border: 0.5px solid #a8a8a8;
	background-color: white;
	position: relative;
	z-index: 10;
}
.menu_alt_nav_item p{
	flex-grow: 1;
	height: auto;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.4;
	color: #242424;
	padding: 10px 0 10px 20px;
	cursor: default;
}
.nav_toggle{
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	background-color: #1e1e56;
	box-sizing: border-box;
	padding-top: 5px;
}
.nav_toggle_line {
	width:20px;
	height: 3px;
	background-color: white;
	transition: transform 0.3s ease, opacity 0.3s ease;
	border-radius: 2px;
}
.nav_toggle_line:nth-child(1){
	transform: translateX(10px);
}
.nav_toggle_line:nth-child(2){
	transform: translateX(-10px) rotate(90deg);
}
.nav_toggle.active .nav_toggle_line:nth-child(2){
	transform: translateX(-10px);
}
.menu_alt_nav_item_block {
	top: 100%;
    width: 100%;
    max-height: 0;
	overflow: hidden;
	z-index: -10;
	transition: max-height 0.7s ease;
}
.menu_alt_nav_item_block.active {
    max-height: 264px;
}
.menu_alt_nav_item_block a {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #1e1e56;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-decoration: none;
	box-sizing: border-box;
	border: 1px solid rgb(189, 189, 189);
    color: inherit;
    transition: background-color 0.3s, color 0.3s;
	position: relative;
	z-index: -10;
}
.menu_alt_nav_item_block a:hover {
    background-color: rgb(61, 61, 122);
    color: white;
	opacity: 1;
}
.menu_alt_nav_item_block a::after {
    content: '>';
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 20px; /* 右端からの距離 */
    color: white;
}
.menu_alt_nav_item_block a p {
    padding: 10px 0 10px 20px;
    font-size: 22px; 
    font-weight: 600;
    line-height: 1.4;
    color: white;
}
.alt_menu_footer{
	display: none;
	background-color: #d8d8d8;
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 20px;
}
.alt_menu_footer.active{
	display: block;
}
.alt_menu_footer_item{
	display: flex;
	align-items: center;
	justify-content: center;
}
.mail_and_access.alt_menu_icon{
	background-color: white;
	width: 40vw;
	margin: 20px 20px 10px 20px;
}
.alt_menu_footer_link{
	display: flex;
	width: 100%;
	height: auto;
	margin-top: 20px;
	flex-wrap: wrap;
	row-gap:12px;
}
.alt_menu_footer_link li{
	width: 40vw;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	margin-left: 10vw;

}
.alt_menu_footer_link li a{
	font-size: 15px;
	color: rgb(68, 68, 68);
}
.alt_menu_footer_link li a::after {
    content: '>';
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: -15px;
    color: rgb(82, 82, 82);
}
@media (max-width: 768px){
	.footer_p.alt{
		font-size: 16px;
	}
	.menu_alt_nav_item p{
		font-size: 18px;
	}
	.menu_alt_nav_item_block a p{
		font-size: 18px;
	}
	.menu_alt_nav_item_block.active {
		max-height: 236px;
	}
}
.menu_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: -5;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.menu_overlay.active {
    opacity: 1;
    visibility: visible;
}
body.menu_open {
    overflow: hidden; /* スクロールを無効化 */
}

.menu_bar{
	display: flex;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
	border-bottom: 1px solid rgb(167, 167, 167);
}
@media (max-width: 1050px) {
	.menu_bar{
		display: none;
	}
	.menu_alt{
		z-index: 100;
	}
	.menu_bar_alt{
		display: flex;
	}
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 100px;
    background-color: #d5efff;
}
.header_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1; /* 残りの幅を埋める */
    box-sizing: border-box;
}

/* 上部メニューの設定 */
.header_top_menu {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.header_top_menu_left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1; /* 比率で設定,残りの幅を埋める */
    height: 60px;
    background-color: #1e1e56;
    padding-right: 20px;
    box-sizing: border-box;
}
.header_top_menu_left > li {
    padding: 15.5px;
    transform: translateX(8px);
}
.strong_sides{
	font-size: 12px;
	line-height: 1.4;
	letter-spacing: 1px;
	color: white;
}
.strong{
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: 1px;
	color: white;
	text-wrap: nowrap;
	position: relative;
}
.strong::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}
.strong:hover::after {
	width: 100%;
}
.header_top_menu_right {
    display: flex;
    align-items: center;
	width: 370px;
    height: 59px;
    background-color: #7a7a7a;
    outline: 1px solid #2a2a2a;
}
.menu_right_box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	width: 92.75px;
	height: 60px;
	position: relative;
}
.menu_right_box_text{
	font-size: 14px;
	letter-spacing: 1px;
	color: white;
	margin-top: 3px;
}
.menu_right_box::after {
	content: '';
	position: absolute;
	right: 0;
	top: 10px;
	height: 41px;
	width: 1px;
	background-color:#2a2a2a;
}
.line_none::after { /*.menu_right_box::afterをlanguagesのみ削除*/
    content:none;
}
.fa-hand-holding-heart{
	font-size: 25px;
	padding-top: 4px;
	color: #ffffff;
}
.fa-location-dot {
	font-size: 24px;
	margin-top: 4px;
	color: #ffffff;
}
.fa-magnifying-glass {
	font-size: 25px;
	margin-top: 4px;
	color: #ffffff;
}
.fa-earth-americas {
	font-size: 28px;
	margin-top: 2px;
	color: #ffffff;
}

/* 下部メニューの設定 */
.header_under_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%; 
    height: 40px;
    background-color: #d5efff;
    padding: 0 20px;
    box-sizing: border-box;
}

.header_under_menu > li {
    padding-right: 40px;
    transform: translateX(-45px);
}
.header_under_menu_item_strong_sides, .header_under_menu_item_strong {
	color: #1c223c;
	font-weight: bolder;
	z-index: 3;
  }
  
  .header_under_menu_item {
	position: relative;
	z-index: 3;
  }
  .hover_item:hover{
	cursor: default;
	opacity: 0.8;
	z-index: 3;
  }
  
  /* サブメニューの設定 */
  .sub_menu {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: #d5efff;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
	  border-left: 1px solid rgb(100, 100, 100);
  }
  .header_under_menu_item:hover .sub_menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }

  .sub_menu li a {
	padding: 10px;
	padding-left: 1px;
	color: #1c223c;
	font-weight: bolder;
	text-decoration: none;
	display: block;
	cursor: pointer;
	text-align: left;
	position: relative;
}
  .sub_menu li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1c223c;
    transition: width 0.3s ease;
}
  .sub_menu li a:hover::after  {
	width: 100%;
}

.slideshow_and_indicator {
    position: relative;
    max-width: 1366px;
    max-height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slideshow {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.slideshow > div {
    width: 100%;
    height: auto;
    display: none;
    text-align: center; 
}
.slideshow > div.active {
    display: block;
}
.slideshow img {
    max-width: 100%;
    height: auto;
	animation: slideIn 1s cubic-bezier(0.25, 0.7, 0.4, 1) forwards;
	z-index: -1;
}
@keyframes slideIn {
	0% {
	  transform: translateX(10%);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	}
	40%,100% {
	  opacity: 1;
	}
}
.active_text {
    width: 470px;
    height: 64px;
    background-color: #1e1e56;
    position: absolute;
    transform: translate(150px,-100px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: white;
	opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
@media (max-width: 768px) {
	.slideshow img {
		max-width: 100%;
		height: 400px;
		object-fit: cover;
		object-position: top;
	}
	#first-image-02{
		object-position: 90%;
	}
	.active_text{
		width: auto;
		height: auto;
		padding: 5px;
		font-size: 28px;
		transform: translate(50px,-100px);
	}
}
@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}
.indicator {
    text-align: center;
    margin-top: 25px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 10px;
    background-color: #b5b5b5;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: #9799e1;
}

.pick_up{
	display: flex;
	width: 100%;
    height: auto;
	padding-bottom: 20px;
	margin-top: 150px;
	background-color: #cacaca;
	flex-direction: column;
    justify-content: center;
	align-items: center;
}
.pick_up_text{
	position: relative;
	height:72px;
	margin: 0;
	padding: 0;
	transform: translateY(-50px);
}
.pick_up_text > h1{
	font-size: 60px;
	font-weight: 500;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.pick_up_image_and_text{
	display: flex;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 108px;
	max-width: 1200px;
}
.pick_up_img_block{
	display: block;
	overflow: hidden;
}
.pick_up_img_block > img{
	display: block;
	transition: transform 2s;
}
.pick_up_img_block > img:hover{
	transform: scale(1.2);
}
.pick_up_images_text{
	display: flex;
	width: 250px;
	height: 40px;
	margin: 0;
	background-color: white;
	justify-content: center;
	align-items: center;
}
.list_link{
	align-self: flex-end;
	display: flex;
	justify-content: center;
	padding-top: 25px;
	padding-right: 190px;
}
.list_link > a{
	display: flex;
	align-items: center;
}
.list_link > a > i{
	padding-right: 5px;
}
.fa-circle-play{
	font-size: 25px;
	color: #04599a;
}
@media (max-width: 768px) {
	.list_link{
		padding-right: 10px;
	}
}
.gaiyou{
	display: flex;
	justify-content: center;
	margin-top: 38px;
	position: relative;
	gap: 100px;
}
.gaiyou_background_block{
	width: 50vw;
	height: 50vw;
	background-color: #e2f4ff;
	position: absolute;
	transform: translate(200px,155px) rotate(45deg);
	z-index: -2;
}
.gaiyou_image_and_textbox{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 148px;
	position: relative;
}
.gaiyou_image_and_textbox img{
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}
.gaiyou_textbox{
	width: 370px;
	height: 205px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 2;
	transform: translateY(318px);
}
.gaiyou_textbox > p{
	font-size: 22px;
	color: #2f2f2f;
	font-family: "BIZ UDゴシック",sans-serif;
}
.gaiyou_textbox > p > small{
	font-size: 16px;
	color: #2f2f2f;
	font-family: "BIZ UDゴシック",sans-serif;
}
.gaiyou_textbox > p > span{
	color: #009f43;
	font-family: "BIZ UDゴシック",sans-serif;
}
.gaiyou_textbox > strong{
	font-size: 80px;
	color: #2c28c2;
	font-family: "Tw Cen MT Condensed Extra Bold";
}
.gaiyou_textbox > strong > span{
	font-size: 60px;
}
.gaiyou_textbox > small{
	font-size: 16px;
	color: black;
	margin-left: 150px;
}
#third-image02{
	position: absolute;
	transform: translateY(477px);
}

.gaiyou_text{
	display: flex;
	flex-direction: column;
	font-family: "BIZ UDゴシック", sans-serif;
	width: auto;
}
#gaiyou_title_sub{
	display: none;
}
#gaiyou_title, #gaiyou_title_sub{
	font-size: 24px;
	line-height: 2;
	color: #2a2a2a;
	margin-top: 91px;
	margin-bottom: 85px;
	font-family: "游明朝", sans-serif;
}
#gaiyou_title > span, #gaiyou_title_sub > span{
	font-size: 36px;
	color: #6351e9;
}
#gaiyou_honbun{
	font-size: 18px;
	line-height: 1.8;
	color: #2a2a2a;
	font-family: "BIZ UDゴシック", sans-serif;
	width: 400px;
	margin-left: 30px;
}
#syushoku01{
	font-size: 18px;
	color: #2a2a2a;
	font-family: "BIZ UDゴシック", sans-serif;
	margin-top: 110px;
	margin-bottom: 19px;
}
.syushokusaki_kakomi{
	display: flex;
	width: 474px;
	height: 251px;
	border: 1px solid;
	border-radius: 70px;
	border-color: #2a2a2a;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
#syushoku02{
	font-size: 18px;
	line-height: 1.8;
	color: #2a2a2a;
	font-family: "BIZ UDゴシック", sans-serif;
}
#syushoku03{
	font-size: 18px;
	line-height: 1.8;
	color: #2a2a2a;
	font-family: "BIZ UDゴシック", sans-serif;
}
@media (max-width: 1200px) {
    	.gaiyou_background_block{
		transform: translate(130px,155px) rotate(45deg);
	}
	.gaiyou {
        gap: 20px;
    }
}
@media (max-width: 1050px) {
	.gaiyou_image_and_textbox img{
		width:350px;
	}
	.gaiyou_textbox {
        transform: translateY(220px); 
		width: 280px;
		height:150px;
    }
	.gaiyou_textbox > p{
		font-size: 17px;
	}
	.gaiyou_textbox > p > small{
		font-size: 12px;
	}
	.gaiyou_textbox > strong{
		font-size: 50px;
	}
	.gaiyou_textbox > strong > span{
		font-size: 35px;
	}
	.gaiyou_textbox > small{
		font-size: 12px;
		margin-left: 150px;
	}
	#third-image02{
		transform: translateY(350px);
	}
	#gaiyou_title, #gaiyou_title_sub{
		font-size: 21px;
		line-height: 2;
		margin-top: 80px;
		margin-bottom: 60px;
	}
	#gaiyou_title > span, #gaiyou_title_sub > span{
		font-size: 32px;
	}
	#gaiyou_honbun{
		font-size: 16px;
		line-height: 1.6;
		max-width: 320px;
		margin-left: 30px;
	}
	.syushokusaki_kakomi{
		width: 380px;
		height: 200px;
		border-radius: 70px;
		gap: 15px;
	}
	#syushoku01{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	#syushoku02{
		font-size: 15px;
		line-height: 1.5;
	}
	#syushoku03{
		font-size: 15px;
		line-height: 1.5;
	}
	}
@media (max-width: 768px) { 
    .gaiyou {
        flex-wrap: wrap;
		max-width: 500px;
    }
	.gaiyou_background_block{
		width: 550px;
		height: 550px;
		transform: translate(0px,370px) rotate(45deg) skew(32deg,32deg);
	}
    .gaiyou_image_and_textbox {
		padding-right: 20px;
		margin-top: 30px;
    }
	.gaiyou_image_and_textbox img{
		width:250px;
	}
    .gaiyou_textbox {
        transform: translateY(100%); /* Y方向中央揃え */
		width: 200px;
    }
	.gaiyou_textbox > small{
		font-size: 12px;
		color: black;
		margin-left: 70px;
		margin-top: 10px;
	}
	#third-image02{
		transform: translateY(280px);
	}
	.gaiyou_text{
		align-items: center;
		justify-content: center;
	}
	#gaiyou_title_sub{
		display: block;
		margin-bottom: 0;
	}
	#gaiyou_title{
		display: none;
	}
	#gaiyou_honbun{
		font-size: 16px;
		line-height: 1.6;
		max-width: 100%;
		width:auto;	
		word-wrap: break-word;
		margin-top: 340px;
		margin-right: 30px;
	}
}

.news_and_ivents_section{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 102px;
	row-gap: 30px;
	margin-top: 100px;
    flex-wrap: wrap;
}
@media (max-width: 768px) { 
	.news_and_ivents_section{
		margin-top: 50px;
	}
}
.news_and_ivents{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.news_and_ivents_headline{
	font-size: 30px;
	font-family: "游明朝", sans-serif;
}
.news_and_ivents_texts{
	width: 383px;
	height: 57px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
    gap: 5px;
}
.news_and_ivents_texts > p{
	font-family: "游明朝", sans-serif;
	padding-left: 15px;
}
.hinichi{
	font-size: 12px;
	color: #7e7e7e;
}
.news_and_ivents_text_item{
	font-size: 14px;
	color: #2a2a2a;
}
.news_and_ivents_texts::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 383px;
	background-color:#2a2a2a;
}
.list_link02{
	display: flex;
	margin-left: 310px;
	gap: 5px;
	padding-top: 20px;
	padding-right: 5px;
}
.list_link02 > p{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "游明朝", sans-serif;
	font-size: 16px;
}
.footer_grey{
	width: 100%;
	min-width: 100%;
	height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
	display:flex;
	background-color: #cacaca;
	box-sizing: border-box;
    flex-wrap: wrap;
}
.footer_grey_left{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	flex: 1 1 300px;
	gap: 12px;
	position: relative;
}
.mail_and_access{
	display:flex;
	align-items: center;
	justify-content: center;
	width: 230px;
	height: 50px;
	border: 1px solid #262626;
	box-sizing: border-box;
}
.mail_and_access > .fa-rotate-by{
	font-size: 28px;
	color: #232323;
	padding-right: 12px;
}
.mail_and_access > .fa-location-dot{
	font-size: 24px;
	color: #3b3b3b;
	padding-right: 15px;
}
.mail_and_access > p{
	font-family: "BIZ UDPゴシック","BIZ UDGothic" ,sans-serif;
	font-size: 24px;
}
.footer_grey_left::after {
	content: '';
	position: absolute;
	right: 0;
	top: 20px;
	height: 235px;
	width: 1px;
	background-color:#3b3b3b;
}
.footer_grey_right{
	flex: 1 1 300px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 61px;
	padding-top: 44px;
}
.footer_annai_left{
	display: flex;
	flex-direction: column;
	gap: 26px;
}
.footer_annai_item{
	display: flex;
	justify-content:flex-start ;
	align-items: center;
}
.triangle{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fa-square-caret-right{
	--fa-primary-color: #ffffff;
	--fa-secondary-color: #333333;
	--fa-secondary-opacity: 1;
}
.footer_annai_link{
	font-size: 16px;
	font-family: "BIZ UDPゴシック","BIZ UDGothic" ,sans-serif;
	padding-left: 6px;
	color: #272727;
}
.footer_annai_right{
	display: flex;
	flex-direction: column;
	gap: 26px;
}
.footer_white{
	width: 100%;
    height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    gap: 20px;
}
.footer_white_annai{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.footer_white_annai_item{
	position: relative;
	padding-left: 26px;
	padding-right: 26px;
}
.footer_white_annai_item > p{
	font-size: 16px;
	color: #272727;
	font-family: "BIZ UDゴシック", sans-serif;
}
.footer_white_annai_item::after{
	content: '';
	position: absolute;
	right: 0;
	top: -4px;
	height: 24px;
	width: 1px;
	background-color:#2a2a2a;
}
.footer_white_annai::before{
	content: '';
	position: absolute;
	left: 0;
	top: -4px;
	height: 24px;
	width: 1px;
	background-color:#2a2a2a;
}
.SNS_icons{
    padding: 0 30px 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
}
.SNS_item{
	height: 30px;
	width: auto;
}


@media (max-width: 768px) {
    .footer_white_annai {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .footer_white_annai_item {
        padding: 5px 0;
    }
    .footer_white_annai_item::after,
    .footer_white_annai::before {
        display: none;
    }
    .SNS_icons {
        margin-left: 0;
    }
}

.footer_blue{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1e1e56;
	height: 30px;
	width: 100%;
}
#copylight{
	font-size: 14px;
	color: white;
}

